<footer>
  <div class="container">
    <div class="social-links">
      {% if site.email %}
      <a href="mailto:{{ site.email }}" aria-label="Email">
        <i class="far fa-envelope"></i>
      </a>
      {% endif %}
      {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      {% endif %}
      {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" aria-label="GitHub" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      {% endif %}
      {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      {% endif %}
      {% if site.instagram_username %}
      <a href="https://instagram.com/{{ site.instagram_username }}" aria-label="Instagram" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      {% endif %}
    </div>
    <p class="copyright">
      &copy; {{ 'now' | date: "%Y" }} {{ site.author | default: "Cedric Helewaut" }}
    </p>
  </div>
</footer>
