---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" 
        style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <body>
    <section class="container py-5">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h1>Cedric Helewaut</h1>
          <p><strong>Engineering - Computer Science - Creative Thinking - Sustainability</strong></p>
          <p>On this website, you'll find everything you need to know about me on a professional level, such as previous projects, background information, and links to all my socials.</p>
          <p> Feel free to contact me to collaborate or for a good conversation.</p>
          <a href="{{ "/contact" | relative_url }}" class="btn btn-primary">Contact</a>
        </div>
        <div class="col-md-4">
          <img src="img/cedric.jpg" alt="Cedric Helewaut" class="img-fluid rounded mx-auto d-block">
        </div>
      </div>
    </section>
  </body>
  


<!-- 
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <div class="clearfix">
          <a class="btn btn-primary float-left" href="{{"/posts" | relative_url }}">View All Projects &rarr;</a>
        </div>

      </div>
    </div>
  </div> -->
